.card{
    position: relative;
    border-radius: 30px;
    box-shadow: 0px 4px 26px rgba(186, 186, 186, 0.35);
    border-color: white;
    }
    .card-title{  
        font-size: x-large;
        font-weight: bold;
        margin: var(--bs-card-spacer-y) var(--bs-card-spacer-x)
    }
    
    .font{
        font-family: 'Poppins';
        color: #595D6B;
        text-align: left;
    }
    .body{
        font-size: large;
    }
    .btn-card{
        align-self: center;
        background-color: var(--primary-orange) !important;
        border-color: var(--primary-orange) !important;
        border-radius: 50px !important;
    }
    .btn-card:hover {
        background-color: #fa9c7f !important;
        color: white !important;
        border-color: var(--primary-orange) !important;
    }

.alice-carousel__next-btn{
    text-align: left;
}